<nav class="navigation-custom-bar">
  <br>
  <h3 class="name"> Faye Hayes </h3>
  <h4 class="name"> Full Stack Developer </h4>
  <img class="LinkedinImage" src="../../assets/Linkedin_Profile_Picture.jpg" alt="Smiling picture of Faye Hayes">
  <br>
</nav>
<div class="navbar-collapse navbar navbar-toggleable-md bg-faded" role="navigation" >
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Projects <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
    </ul>
  </div>
