<div id='navigation'>
  <nav class="navigation-custom-bar ">
    <br>
    <!-- <h3 class="name"> Faye Hayes </h3>
    <h4 class="name"> Full Stack Developer </h4> -->
    <img class="LinkedinImage" src="../PUBLIC/assets/Linkedin_Profile_Picture.png" alt="Smiling picture of Faye Hayes">
    <br>
  </nav>

  <div class="navbar navbar-toggleable-md bg-faded">
    <ul class="nav navbar-nav navbar-right">
       <li class="nav-item active">
         <a class="nav-link nav-link-custom" href="/">Home <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item active">
         <a class="nav-link nav-link-custom" href="/about">About Me <span class="sr-only">(current)</span></a>
       </li>

       <li class="nav-item active" id="contact">
         <a class="nav-link nav-link-custom " href="/">Contact<span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link nav-link-custom" href="/login">Log In</a>
       </li>
    </ul>
  </div>
</div>
