<div class="col-sm-4 project_information">
  <div class="project_image_container ">
    <a href="projects/<%= project.id %>"><img src="<%= project.image_url %>" alt="image" class="img-responsive project_image "></a>

    <div class='text'>
      <%=project.name %> <br>
      <%= project.tech_stack %> 
    </div>
  </div>
</div>
