<div class="col-md-4 project_information">

  <h4> <%= project.name %> </h4>
  <div class="project_image_container">
    <a href="projects/<%= project.id %>"><img src="<%= project.image_url %>" alt="image" class="project_image"></a>
  </div>
  <em> Stack: </em>

  <p> <%= project.tech_stack %> </p>

</div>
