  <div  id='about_me' class='about_me_background'>
    <div class='about_me_text'>
      <h1> Hi. I'm Faye Hayes. </h1>
      <h2>Let's Build Together.</h2>

      <h4>Passionate about mentorship and exploration, I'm a developer with a love for building and creating projects that positively impacts communities. </h4>
      <br>
      <button class='projects_button'>View Projects</button>
      <br><br><br>
    </div>
    <!-- <%= image_tag 'bigtree.png', :id => "bigtree" %> -->
  </div>


  <br><br><br>
  <div class='section'>
    <div class='projects_section'>
      <div class='row justify-content-center' >
          <%= render @projects %>
      </div><br>

    </div><br>
    <center>
      <button class='tech_stack_button'>See My Tech Stack</button>
      <button class='back_to_top'>Back to Top</button>
    </center>
  </div>

  <br>

<div class='section skills' id='skills'>
  <div class='skills_text'>
    <br>
    <h2>My Tech Stack</h2>
    <br>

      <div>
        <ul class='list-of-skills'>
          <li> <h4>Frameworks: </h4></li>
          <li> Rails </li>
          <li> Sinatra </li>
          <li> Bootstrap </li>
          <li> React Native </li><br>
        </ul>
      </div>
      <div >
        <ul class='list-of-skills'>
          <li><h4>Languages/Libraries: </h4></li>
          <li> Ruby </li>
          <li> Javascript </li>
          <li> React.js </li>
          <li> jQuery </li>
          <li> HTML5 </li>
          <li> CSS </li><br>
        </ul>
      </div>
      <div >
        <ul class='list-of-skills'>
          <li><h4>Practices: </h4></li>
          <li>Pair Programming</li>
          <li>Agile</li>
          <li>TDD/BDD</li>
          <li>Object Oriented Design</li>
          <li>MVC</li><br>
        </ul>
      </div>
      <div>
        <ul class='list-of-skills'>
          <li><h4>Other: </h4></li>
          <li> RSpec </li>
          <li> AJAX </li>
          <li> JSON data manipulation </li>
          <li> Relational Database </li>
          <li> MySQL, Postgres </li>
          <li> Version Control(git) </li>
          <li> RESTful APIs </li>
        </ul>
      </div>
      <div>
        <ul class='list-of-skills'>
          <li><h4>Currently Exploring:</h4></li>
          <li> Node.js </li>
          <li> Ember.js </li>
          <li> Docker </li>
          <li> AWS </li>
        </ul>
      </div>

    </div>
</div>

<br><br>

<div class='contact_me'>
  <%= render :partial => 'contacts/new' %>
</div>
  <p> <%= link_to "+", new_project_path if logged_in? %> <p>
</div>
<center>
  <br><br><br><br>
<h4> This site was coded and styled with love by me. <h4></center>
