<div>
  <div class='about_me section'>
    <h1> Hi. I'm Faye Hayes. Let's Build Together.</h1>
    <em> Passionate about mentorship, creativity, and growth, I'm looking for opportunities that prioritize employee retention. </em>
  </div>

  <br>

  <div class='section' id='skills'>
    <h3> What I do </h3>
    <b> Technologies: </b>
    <p> Ruby on Rails,Javascript, React JS, React Native, AJAX, JSON, HTML/CSS, RSpec, jQuery, Active Record, RESTful APIs, Postgres, Version Control, MySQL </p>
    <b> Practices: </b>
    <p> Pair Programming, Agile, TDD/ BDD, Object Oriented Design, MVC Design </p>
  </div>
  <br>
  <div class='container-fluid projects_section'>
    <div class='row' >
        <%= render @projects %>
    </div>
  </div>


  <p> <%= link_to "+", new_project_path if logged_in? %> <p>
</div
