<br><div>
  <div class='about_me container'>
    <div class='container'>
    <h1> Hi. I'm Faye Hayes. Let's Build Together.</h1>
    <br>
    <h4>Passionate about mentorship and exploration, I'm looking for opportunities that prioritize employee growth and retention. </h4>
  </div>
</div>


  <br><br><br>
  <div class='section'>
    <div class='projects_section'>
      <div class='row justify-content-center' >
          <%= render @projects %>
      </div>
    </div>
  </div>

  <br>

<div class='section container' id='skills'>
  <h2>My Stack</h2>
  <Br>
  <div class='row '>
    <div class="skills col-sm-6 mx-auto text-center">

      <ul class='list-of-skills'>
        <li> <h4>Frameworks: </h4></li>
        <li> Rails </li>
        <li> Sinatra </li>
        <li> Bootstrap </li>
        <li> React Native </li>
      </ul>
    </div>
    <div class="col-sm-6 mx-auto text-center">
      <ul class='list-of-skills'>
        <li><h4>Languages/Libraries: </h4></li>
        <li> Ruby </li>
        <li> Javascript </li>
        <li> React.js </li>
        <li> jQuery </li>
        <li> HTML5 </li>
        <li> CSS </li>
      </ul>
    </div>
    <div class="col-sm-6 mx-auto text-center">
      <ul class='list-of-skills'>
        <li><h4>Practices: </h4></li>
        <li>Pair Programming</li>
        <li>Agile</li>
        <li>TDD/BDD</li>
        <li>Object Oriented Design</li>
        <li>MVC</li>
      </ul>
    </div>
    <div class="col-sm-6 mx-auto text-center">
      <ul class='list-of-skills'>
        <li><h4>Other: </h4></li>
        <li> RSpec </li>
        <li> AJAX </li>
        <li> JSON data manipulation </li>
        <li> Relational Database </li>
        <li> MySQL, Postgres </li>
        <li> Version Control(git) </li>
        <li> RESTful APIs </li>
      </ul>
    </div>
  </div>
</div>
  <br>

  <%= render :partial => 'contacts/new' %>

  <p> <%= link_to "+", new_project_path if logged_in? %> <p>
</div
