<div class='container'>
  <!-- <h1> My Journey </h1>

  <p> In high school I thought that the only way to create meaningful change in my community was to get heavily involved in government, law, and politics. As a young student at Middle College High School, I had no idea the wealth of professions there were for someone with my background. </p>

  <p> I attended UC Irvine as a policital science major. I was heavily involved in the school's cross-cultural center (a safe haven for minority groups at UCI) as well as student govenrnment. What I found working in these groups was that affecting chanege is not a monolith. There are mulltiple ways to do so! </p>

  <p> In my third year of UC Irvine, I pledged Delta Sigma Theta Sorority. A group of change-makers, rule-breakers, and strong black women. The women -->
  <h1> Coming soon!<h1>
</div>
