/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Barlow');

* {
  font-family: 'Barlow', sans-serif;
}


#about_me {
  height: 60vh;
  width: 100%;
  background-color: #33454e;
  position: relative;

}
#about_me  h2 {
  font-size: 5em;
  letter-spacing: 3px;
  font-family: 'Kaushan Script', cursive;
}

#about_me h4 {
  font-size: 1.5em;
}

#bigtree {
  float:right;
  margin-top: 5%;
  z-index: 0;
  position: relative;
  opacity: .5;
  overflow: hidden;
}

.about_me_text {
  // margin-top: 25%;
  text-align: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: #e6a06f;
}


.hidden_info {
  display: none;
}

.cus-container {
  background-color:white;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: Georgia;
  color: #FFF;
  font-size: 16px;
  background: #95a131;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {

  background: #C8CD3B;
  text-decoration: none;
}

.fixed {
  position: fixed;
	// top: 0;
	// height: 70px;
	// z-index: 200;
}
