/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

#about_me {
  height: 80vh;
}

.about_me_background img {

}

.about_me_text {
  margin-top: 25%;
  text-align: center;
}


#skills h3 {
  text-align: center;
}

#skills h2 {
  text-align: center;
}

.list-of-skills li {
  list-style-type: none;
}

.hidden_info {
  display: none;
}

.cus-container {
  background-color:white;
}

body {
  background-color: #c06c84;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #141112;
  font-size: 16px;
  background: #d2d8db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #8fe072;
  text-decoration: none;
}

#skills {
  height: 100vh;
}
