.navigation-custom-bar {

  padding-bottom: 1px;

}
.nav-item {
  padding-right: .6em;
  list-style-type: none;
}

.name {
  text-align: center;
  z-index: 2;
  font-size: 3em;
}

.nav-link-custom {
  color: white;
}

#navigation {
  border-bottom: 3px #e6a06f solid;
}
