.navigation-custom-bar {
  border-bottom: 3px #ebcf88 solid;
  padding-bottom: 1px;
}
.nav-item {
  padding-right: .6em;
  list-style-type: none;

}

.name {
  text-align: center;
  z-index: 2;
  font-size: 3em;
}

.LinkedinImage {
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 60px;
  height: 7%;
  z-index: 101;
  padding:10px;
   border:1px solid #021a40;
}

.nav-link-custom {

}

#navigation {
  padding-right: 10px;
}
