// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//
// .project-container {
//   max-height: 300px;
//   overflow: scroll;
//   overflow-x: scroll;
//   overflow-y:hidden
// }
//
.project_image {
  width: 250px;
  height: 200px;
  margin: auto;

}
